:root {
  --bgc-body: #ffdf8c;
  --bgc-primary: #ffffff;
  --color-primary-text: #2C2C2C;
  --color-white-text: #ffffff;
  --color-logo-text: #181818;
  --color-black-text: #000000;
  --color-gray-text: #7B7B7B;
  --color-gray-text-basket: #8D8D8D;
  --color-accent: #EB5A1E;
  --color-text-emptyBasket:#777777;
  --bgc-gray: #F3F3F3;
  --bgc-btn-select: #282828;
  --bgc-gray-btn: #F9F9F9;
  --bgc-gray-light-btn: #B6B6B6;
  --bgc-color-divider: #F6F6F6;
  --bgc-color-basket-divider: #F4F4F4;;
  --color-gray-btn-back: #D3D3D3;
  --color-gray-btn-back-text: #CACACA;
  --bgc-sort: rgba(254, 95, 30, 0.05);
  --bgc-btn-devider: rgba(255, 255, 255, 0.25);
  --shadow-type-pizza: 0 2px 4px rgba(0, 0, 0, 0.04);
}
