@import "../../styles";

.layout{
  background-color: var(--bgc-primary);
  width: calc(100% - 10px);
  margin: 5px auto;
  border-radius: 10px;

  @include medium{
    width: calc(100% - 30px);
    margin: 15px auto;
  }
  @include large{
    width: calc(100% - 40px);
    margin: 20px auto;
  }
  @include desktop{
    width: calc(100% - 100px);
    margin: 50px auto;
  }
}
